
<div id="fondo-fractal">
    <div id="titulo">
        <img id="logo" height="100px" src="https://render.guildwars2.com/file/80F608A1E8112313595813033BDEAD3C05A43D01/514379.png">
        <p id="titulo_p">Fractales de la Niebla</p>
    </div>
    <mat-card id="contenido" style="display: flex;">
        <img class="profesor_img" src="./assets/img/profesor_awdy.jpg">
        <div class="div_contenido">
            <mat-card-content class="introduccion">
                <p class="p_introduccion">
                Funcionamiento de fractales, qué se puede conseguir en el vestibulo y mécanicas de cada fractal.
                <p class="p_introduccion"> Composiciones: Rendimiento de grupo según la misma.</p>
                <p class="p_introduccion">Logros.</p>            
            </mat-card-content>
            <mat-card-header class="introduccion">
                <mat-card-title>¿Que son y que requerimientos necesito para entrar?</mat-card-title>        
            </mat-card-header>
            <mat-card-content class="introduccion">
                <p class="p_introduccion">
                    Son mazmorras en la que cada una alberga una historia diferente, y en algunos casos historias combinadas entre uno y otro.
                </p>
                <p class="p_introduccion">
                    Los requerimientos minimos son tener nivel 80, y tener equipamiento exotico ajustado a la clase con sellos y runas para el nivel Iniciado (1-25). Apartir del Fractal 26 se requiere de equipo Ascendido en orden para tener infusiones y poder comenzar a usar la Resistencia a la agonia.
                </p>
            </mat-card-content>
        </div>
    </mat-card>
</div>