<div class="menu-toolbar">
<mat-toolbar class="menu-container">
      <button class="icon-button" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>
      
      <img class="geek_logo"      
        alt="Geek Logo"
        src="./assets/img/Geek_cabezote_society.jpg" routerLink=""/>
</mat-toolbar>

<mat-sidenav-container class="menu-sidenav-container">
    <mat-sidenav #sidenav style="width: 20%" mode="push">
      <button class="button" mat-flat-button (click)="sidenav.toggle()" routerLink="/fractales" style="cursor: pointer">
        <img src="https://wiki-es.guildwars2.com/images/7/75/Icono_Fractales.png"/>
        <span>Fractales</span>        
      </button>
      <mat-divider></mat-divider>
      <button class="button" mat-flat-button (click)="sidenav.toggle()" routerLink="/pvp" style="cursor: pointer">
        <img src="https://wiki.guildwars2.com/images/c/ca/PvP_Conqueror.png"/>
        <span>PvP</span>        
      </button>
      
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
</div>
<!--
<mat-toolbar class="menu">
  <mat-toolbar-row class="menu-option">
    <div id="div_geeklogo" routerLink="/">
      <img class="geek_logo"      
        alt="Geek Logo"
        src="./assets/img/Geek_cabezote_society.jpg"/>      
    </div>
    <div class="option" *ngFor="let menu of Menu" routerLink={{menu.routerlink}}>
      <img 
        class="logo"
        alt={{menu.alt_img}}
        src={{menu.link_img}}>
        <span>{{menu.name}}</span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>

<footer>
  <a aria-label="Instagram"  rel="noopener" href="https://www.instagram.com/geek_societyx/" title="Instagram">
    <svg class="instagram-logo" id="twitter-logo" xmlns="http://www.w3.org/2000/svg" width="50" height="50"
    viewBox="0 0 551.034 551.034" style="enable-background:new 0 0 551.034 551.034;" xml:space="preserve">
    <path class="logo" id="XMLID_17_" d="M386.878,0H164.156C73.64,0,0,73.64,0,164.156v222.722 c0,90.516,73.64,164.156,164.156,164.156h222.722c90.516,0,164.156-73.64,164.156-164.156V164.156 C551.033,73.64,477.393,0,386.878,0z M495.6,386.878c0,60.045-48.677,108.722-108.722,108.722H164.156 c-60.045,0-108.722-48.677-108.722-108.722V164.156c0-60.046,48.677-108.722,108.722-108.722h222.722 c60.045,0,108.722,48.676,108.722,108.722L495.6,386.878L495.6,386.878z"/>
    <path id="XMLID_81_" fill="#555" d="M275.517,133C196.933,133,133,196.933,133,275.516 s63.933,142.517,142.517,142.517S418.034,354.1,418.034,275.516S354.101,133,275.517,133z M275.517,362.6 c-48.095,0-87.083-38.988-87.083-87.083s38.989-87.083,87.083-87.083c48.095,0,87.083,38.988,87.083,87.083 C362.6,323.611,323.611,362.6,275.517,362.6z"/>
    <circle id="XMLID_83_" fill="#555" cx="418.306" cy="134.072" r="34.149"/>
  </svg>
  </a>

</footer>

-->